.item1 { grid-area: header; }
.item2 { grid-area: box1; }
.item3 { grid-area: box2; }
.item4 { grid-area: box3; }
.item5 { grid-area: main; }
.item6 { grid-area: aside; }
.item7 { grid-area: footer; }
  .grid-container {
    display: grid;
    grid-template-areas:
      'header header header header '
      'box1 box2 box3 aside'
      'main main main aside'
      'main main main aside'
      'footer footer footer footer';
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
  }
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  